<header class="secondColor medium">
    <div class="logo mainTextColor">
        <h1>QUIZ</h1>
        <p>Made by Luca</p>
    </div>
    <nav>
        <ul>
            <li><a href="/" class="mainItemTextColor mainItemColor">HOME</a></li>
            <li><a href="/info" class="mainItemTextColor mainItemColor">INFO</a></li>
            <!-- <li><a href="/nieuws" class="mainItemTextColor mainItemColor">NIEUWS</a></li> -->
        </ul>
    </nav>
</header>

<header class="secondColor mobile">
    <div class="logo mainTextColor">
        <h1>QUIZ</h1>
        <p>Made by Luca</p>
    </div>
    <nav>
        <ul>
            <li><a href="/" class="mainItemTextColor mainItemColor">HOME</a></li>
            <li><a href="/info" class="mainItemTextColor mainItemColor">INFO</a></li>
            <!-- <li><a href="/nieuws" class="mainItemTextColor mainItemColor">NIEUWS</a></li> -->
        </ul>
    </nav>
</header>